nifi/NiFi-Kube-Python-job.json
{"flowContents":{"identifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","instanceIdentifier":"733707d5-019c-1000-6be7-a7fd8b4b6e03","name":"NiFi-Kube-Python (1)","comments":"","position":{"x":-47.15494032483002,"y":14.770526565374894},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"fdeea1e6-75e3-3050-8129-aaeecb9d3b0c","instanceIdentifier":"94e4fe8f-b0bd-3d75-46b4-1481cd1764cf","name":"LogAttribute","comments":"","position":{"x":488.0,"y":152.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"364c290c-ae24-3a44-b17f-8eb28713f891","instanceIdentifier":"855415d5-4c5b-3ccb-5e59-e3633410815e","name":"InvokeHTTP","comments":"","position":{"x":760.0,"y":-176.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Authorization":"Bearer ${k8s.token}","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://kubernetes.default.svc/apis/batch/v1/namespaces/flowkube-jobs/jobs","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"d2c2d76a-5bbf-3a13-b4d8-d64617243956","Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"POST","Request Username":null,"Request Content-Type":"application/json","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"50f466be-019c-1000-0525-b378c04a5355","instanceIdentifier":"9ed5b2ba-9dff-31af-56fd-651ad9bd6095","name":"UpdateAttribute","comments":"","position":{"x":-40.0,"y":-400.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","pod.type":"LOG_GEN","pod.image":"test-python:log","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pod.type":{"name":"pod.type","displayName":"pod.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"pod.image":{"name":"pod.image","displayName":"pod.image","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"dee57c7c-39ac-3865-a42e-d7c0073c74ac","instanceIdentifier":"5d2c153d-57fd-3719-0a55-ef4517f2d8e3","name":"GenerateFlowFile","comments":"","position":{"x":-816.0,"y":-768.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n  \"apiVersion\": \"v1\",\n  \"kind\": \"Pod\",\n  \"metadata\": {\n    \"generateName\": \"python-job-\",\n    \"namespace\": \"flowkube-jobs\",\n    \"labels\": { \"app\": \"python-worker\" }\n  },\n  \"spec\": {\n    \"restartPolicy\": \"Never\",\n    \"containers\": [\n      {\n        \"name\": \"python-worker\",\n        \"image\": \"${pod.image}\",\n        \"imagePullPolicy\": \"Never\",\n        \"command\": [\"python\", \"-c\"],\n        \"args\": [\"import sys; print(f'[{pod.type}] Job Start'); sys.exit(0)\"]\n      }\n    ]\n  }\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"50f45c9d-019c-1000-f3c5-37c208cb3dea","instanceIdentifier":"2e4467fd-f568-3fdd-a40f-dd5bde0ab621","name":"UpdateAttribute","comments":"","position":{"x":-40.0,"y":-584.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","pod.type":"CPU_LOAD","pod.image":"test-python:cpu","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pod.type":{"name":"pod.type","displayName":"pod.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"pod.image":{"name":"pod.image","displayName":"pod.image","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"50f1ee32-019c-1000-5da3-74517c1a9361","instanceIdentifier":"f05721c4-ee10-3329-e43b-67003ab9c0ad","name":"GenerateFlowFile","comments":"","position":{"x":-816.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n  \"apiVersion\": \"v1\",\n  \"kind\": \"Pod\",\n  \"metadata\": {\n    \"generateName\": \"python-job-\",\n    \"namespace\": \"flowkube-jobs\",\n    \"labels\": { \"app\": \"python-worker\" }\n  },\n  \"spec\": {\n    \"restartPolicy\": \"Never\",\n    \"containers\": [\n      {\n        \"name\": \"python-worker\",\n        \"image\": \"${pod.image}\",\n        \"imagePullPolicy\": \"Never\",\n        \"command\": [\"python\", \"-c\"],\n        \"args\": [\"import sys; print(f'[{pod.type}] Job Start'); sys.exit(0)\"]\n      }\n    ]\n  }\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"fbec98c4-9a3a-3f30-aede-d905ab322240","instanceIdentifier":"4aa815cc-4477-3ed3-ea79-dd583524bc4a","name":"ReplaceText","comments":"","position":{"x":744.0,"y":-632.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Regular Expression":"PLACEHOLDER","Replacement Value":"{\n  \"apiVersion\": \"batch/v1\",\n  \"kind\": \"Job\",\n  \"metadata\": {\n    \"generateName\": \"python-job-\",\n    \"namespace\": \"flowkube-jobs\",\n    \"labels\": {\n      \"app\": \"python-worker\",\n      \"job_type\": \"${pod.type}\"\n    }\n  },\n  \"spec\": {\n    \"ttlSecondsAfterFinished\": 60,\n    \"template\": {\n      \"metadata\": {\n        \"labels\": {\n          \"app\": \"python-worker\",\n          \"job_type\": \"${pod.type}\"\n        }\n      },\n      \"spec\": {\n        \"restartPolicy\": \"Never\",\n        \"containers\": [\n          {\n            \"name\": \"python-worker\",\n            \"image\": \"${pod.image}\",\n            \"imagePullPolicy\": \"Never\",\n            \"env\": [\n              { \"name\": \"PYTHONUNBUFFERED\", \"value\": \"1\" }\n            ]\n          }\n        ]\n      }\n    }\n  }\n}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"29e5590e-cca8-3cd5-833c-bfb93d9e827a","instanceIdentifier":"c6b8fff7-a302-3a7f-2ec1-624891980497","name":"ExecuteStreamCommand","comments":"","position":{"x":752.0,"y":-392.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"4096","Output MIME Type":null,"Working Directory":null,"Command Path":"cat","Output Destination Attribute":"k8s.token","Argument Delimiter":";","Ignore STDIN":"true","Command Arguments":"/var/run/secrets/kubernetes.io/serviceaccount/token"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["output stream","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"0003d42f-2757-38f5-90fd-9ac404e43fba","instanceIdentifier":"f858bcf0-a7bc-30c8-c30c-2d5a45495df4","name":"UpdateAttribute","comments":"","position":{"x":-32.0,"y":-768.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.6.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","pod.type":"BASIC","pod.image":"test-python:basic","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"pod.type":{"name":"pod.type","displayName":"pod.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"pod.image":{"name":"pod.image","displayName":"pod.image","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"50f20591-019c-1000-af52-e8fb5458c07d","instanceIdentifier":"84512e3f-ef1b-3729-5772-5345d56f196a","name":"GenerateFlowFile","comments":"","position":{"x":-816.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"{\n  \"apiVersion\": \"v1\",\n  \"kind\": \"Pod\",\n  \"metadata\": {\n    \"generateName\": \"python-job-\",\n    \"namespace\": \"flowkube-jobs\",\n    \"labels\": { \"app\": \"python-worker\" }\n  },\n  \"spec\": {\n    \"restartPolicy\": \"Never\",\n    \"containers\": [\n      {\n        \"name\": \"python-worker\",\n        \"image\": \"${pod.image}\",\n        \"imagePullPolicy\": \"Never\",\n        \"command\": [\"python\", \"-c\"],\n        \"args\": [\"import sys; print(f'[{pod.type}] Job Start'); sys.exit(0)\"]\n      }\n    ]\n  }\n}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"d6b5bbe9-af03-3132-97fd-bd3a54c99b0e","instanceIdentifier":"73767585-019c-1000-cdcc-3774a9972a33","name":"LogAttribute","comments":"","position":{"x":1048.0,"y":152.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"6cc13278-9efb-3022-a81f-c1295cf5039f","instanceIdentifier":"b8d9fa92-4a5d-3183-47a5-0b5a110123c6","name":"","source":{"id":"dee57c7c-39ac-3865-a42e-d7c0073c74ac","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"5d2c153d-57fd-3719-0a55-ef4517f2d8e3"},"destination":{"id":"0003d42f-2757-38f5-90fd-9ac404e43fba","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"UpdateAttribute","comments":"","instanceIdentifier":"f858bcf0-a7bc-30c8-c30c-2d5a45495df4"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"52cd20ee-36ce-3513-9b0f-c97aa4a914c9","instanceIdentifier":"2f0eb70b-bc81-3342-8de0-fb4ee38800d8","name":"","source":{"id":"50f20591-019c-1000-af52-e8fb5458c07d","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"84512e3f-ef1b-3729-5772-5345d56f196a"},"destination":{"id":"50f466be-019c-1000-0525-b378c04a5355","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"UpdateAttribute","comments":"","instanceIdentifier":"9ed5b2ba-9dff-31af-56fd-651ad9bd6095"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"d5a626b9-7baa-3cec-af03-301518b65a20","instanceIdentifier":"09861125-6670-368d-795a-307387357c6f","name":"","source":{"id":"0003d42f-2757-38f5-90fd-9ac404e43fba","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"UpdateAttribute","comments":"","instanceIdentifier":"f858bcf0-a7bc-30c8-c30c-2d5a45495df4"},"destination":{"id":"fbec98c4-9a3a-3f30-aede-d905ab322240","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"ReplaceText","comments":"","instanceIdentifier":"4aa815cc-4477-3ed3-ea79-dd583524bc4a"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"5555626e-4206-3b32-ac7d-52197ba0a3e0","instanceIdentifier":"7376b1f1-019c-1000-01ed-a17f54861551","name":"","source":{"id":"364c290c-ae24-3a44-b17f-8eb28713f891","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"InvokeHTTP","comments":"","instanceIdentifier":"855415d5-4c5b-3ccb-5e59-e3633410815e"},"destination":{"id":"d6b5bbe9-af03-3132-97fd-bd3a54c99b0e","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"LogAttribute","comments":"","instanceIdentifier":"73767585-019c-1000-cdcc-3774a9972a33"},"labelIndex":0,"zIndex":12,"selectedRelationships":["No Retry","Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"19e8a392-1045-373c-86c1-ff269b87dfa3","instanceIdentifier":"73769bb7-019c-1000-2cf5-e9f14030b10d","name":"","source":{"id":"364c290c-ae24-3a44-b17f-8eb28713f891","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"InvokeHTTP","comments":"","instanceIdentifier":"855415d5-4c5b-3ccb-5e59-e3633410815e"},"destination":{"id":"fdeea1e6-75e3-3050-8129-aaeecb9d3b0c","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"LogAttribute","comments":"","instanceIdentifier":"94e4fe8f-b0bd-3d75-46b4-1481cd1764cf"},"labelIndex":0,"zIndex":11,"selectedRelationships":["Response","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"2be0a845-e2e7-3058-8853-3183e14f6632","instanceIdentifier":"ec62fa9e-87c9-3078-5e55-947f7814df03","name":"","source":{"id":"50f1ee32-019c-1000-5da3-74517c1a9361","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"GenerateFlowFile","comments":"","instanceIdentifier":"f05721c4-ee10-3329-e43b-67003ab9c0ad"},"destination":{"id":"50f45c9d-019c-1000-f3c5-37c208cb3dea","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"UpdateAttribute","comments":"","instanceIdentifier":"2e4467fd-f568-3fdd-a40f-dd5bde0ab621"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"c8756f6a-ad44-32ff-a22a-5e7d15fba8d2","instanceIdentifier":"f467aa6e-2b4c-36f1-4c08-94661b52d927","name":"","source":{"id":"50f466be-019c-1000-0525-b378c04a5355","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"UpdateAttribute","comments":"","instanceIdentifier":"9ed5b2ba-9dff-31af-56fd-651ad9bd6095"},"destination":{"id":"fbec98c4-9a3a-3f30-aede-d905ab322240","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"ReplaceText","comments":"","instanceIdentifier":"4aa815cc-4477-3ed3-ea79-dd583524bc4a"},"labelIndex":0,"zIndex":10,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"34e4aa41-79e5-3975-88c7-bde268235e7a","instanceIdentifier":"267765c5-2fa4-3809-47ab-e6377f1ff930","name":"","source":{"id":"29e5590e-cca8-3cd5-833c-bfb93d9e827a","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"c6b8fff7-a302-3a7f-2ec1-624891980497"},"destination":{"id":"364c290c-ae24-3a44-b17f-8eb28713f891","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"InvokeHTTP","comments":"","instanceIdentifier":"855415d5-4c5b-3ccb-5e59-e3633410815e"},"labelIndex":0,"zIndex":3,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"d3f373ba-8071-3a5a-8f57-eb6207bcfa60","instanceIdentifier":"3279ac3d-1457-3a9f-f8ea-0213b9fed77b","name":"","source":{"id":"fbec98c4-9a3a-3f30-aede-d905ab322240","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"ReplaceText","comments":"","instanceIdentifier":"4aa815cc-4477-3ed3-ea79-dd583524bc4a"},"destination":{"id":"29e5590e-cca8-3cd5-833c-bfb93d9e827a","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"c6b8fff7-a302-3a7f-2ec1-624891980497"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"},{"identifier":"e451a182-c2cc-31a5-93a9-d05db6e25d59","instanceIdentifier":"1bf089b7-5971-3609-e07e-632d54a0806b","name":"","source":{"id":"50f45c9d-019c-1000-f3c5-37c208cb3dea","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"UpdateAttribute","comments":"","instanceIdentifier":"2e4467fd-f568-3fdd-a40f-dd5bde0ab621"},"destination":{"id":"fbec98c4-9a3a-3f30-aede-d905ab322240","type":"PROCESSOR","groupId":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c","name":"ReplaceText","comments":"","instanceIdentifier":"4aa815cc-4477-3ed3-ea79-dd583524bc4a"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d2c2d76a-5bbf-3a13-b4d8-d64617243956","instanceIdentifier":"1a2e7278-e030-3a74-487c-ed64b461880f","name":"StandardRestrictedSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.6.0"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/opt/nifi/nifi-current/conf/truststore.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ff4ad994-d02e-30bd-9d20-1127c76e8c8c"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}